.nav-wrapper-light {
    @include nav-bar();
    background-color: white;

    .left-side {
        .nav-link-wrapper {
            a {
                color: $grey;
                &:hover {
                    color: $dark-primary_light;
                }
            }

            &:hover {
                border-bottom: 1px solid $offblack;
            }

            .active {
                border-bottom: 1px solid $offblack;
                color: $offblack;
            }
        }
    }

    .right-side {
        .light {
            background-color: $offblack;
            color: $offwhite;
        }
    }
}

.nav-wrapper-dark {
    @include nav-bar();
    background-color: black;

    .left-side {
        .nav-link-wrapper {
            a {
                color: $grey;
                &:hover {
                    color: $dark-primary_dark;
                }
            }

            &:hover {
                border-bottom: 1px solid $offwhite;
            }

            .active {
                border-bottom: 1px solid $offwhite;
                color: $offwhite;
            }
        }
    }

    .right-side {
        .night {
            background-color: $offwhite;
            color: $offblack;
        }
    }
}