.nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 80px;

    .left-side{
        display: flex;
        padding: 30px;
    }

    .nav-link-wrapper {
        height: 22px;
        border-bottom: 1px solid transparent;
        transition: 0.5s ease-in-out;

        margin-right: 20px;
        text-transform: uppercase;
        font-size: 0.9rem;

        a {
            color: $grey;
            text-decoration: none;
            transition: 1s ease-in-out;
            &:hover {
                color: rgb(107, 28, 28);
            }
        }

        &:hover {
            border-bottom: 1px solid black;
        }

        .active {
            padding-bottom: 6px;
            border-bottom: 1px solid black;
            color: black;
        }
    }

    .right-side {
        padding: 0px;
        .light {
            background-color: $offblack;
            color: $offwhite;
        }
        .night {
            background-color: $offwhite;
            color: $offblack;
        }
        button {
            cursor: pointer;
            border: unset;
            height: 80px;
            width: 140px;
            padding: unset;
            font-size: 1.5em;
        }
    }
}